#container{

    width: 650px;
    height: 500px;
    margin: 35px;
    border: 1px solid black;
} 
#bbox{
    height: 470px;
    padding: 4px;
    border: 1px solid black;
    background-color: lightgrey;
}
#pagebox{
    height: 30px;
    background-color: white;
    border: 1px solid black;
}
img{
    width: 50px;
    height:75px;
    float: left;
    display: block;
}
#pagination {
    display: inline-block;
}

#pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.body{
    background-image: url(background.png);
}

