<% layout("layouts/account") %>


<form>
    <table class="userOrders" border='1px' cellpadding="10">
        <thead>
            <tr>
                <td>Order Number</td>
                <td>Date</td>
                <td>Book Id Number</td>
                <td>Quantity</td>
                <td>Dilivery Time</td>
                <td>Performance</td>
                <td>Completed</td>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < result.length; i++){%>
                <% for (var j = 0; j < result[i].items.length; j++) { %>
                    <tr>
                        <td><%= result[i].id %></td>
                        <td></td>
                        <td><%= result[i].items[j].id %></td>
                        <td><%= result[i].items[j].quantity %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                <%}%>
            <%} %>
        </tbody>
    </table>
</form>
    