@charset "utf-8";
/* CSS Document */
body{
    background-color:#f5f5f5;
    color:#191919;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
}
input{
    font-size:14px;
    background-color:#fff;
}
a{
    color:#0084bf;
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
.content {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1130px;
}
p{
    padding:5px 0;
}
/*==========================================================================*/
h2.title {
    font-size: 20px;
    color: orange;
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
h2.title.center{
    display: table;
    margin: 0 auto;
}
/*==========================================================================*/
header{
    border-bottom: 1px solid red;
}
header .logo {
    background-image: url('../images/logo.png');
    height: 40px;
    width: 200px;
    display: block;
    float: left;
}
header .nav {
    float: right;
}
header .nav li {
    float: left;
    margin-right: 10px;
}
header .nav li a {
    text-transform: uppercase;
}
/*==========================================================================*/
.banner {
    background-image: url('../images/bg-1.jpg');
    padding: 100px 0;
    background-size: cover;
    height: 100%;
}
/*==========================================================================*/
.box {
    margin-bottom: 50px;
}
/*==========================================================================*/
.box .comments {
    width: 50%;
    float: left;
}
.box .comments .block {
    margin-bottom: 10px;
}
.box .comments .block .slide_comment {
    padding: 10px;
    background-color: #999;
    float: left;
    width: 45%;
    box-sizing: border-box;
    position: relative;
}
.box .comments .block .slide_comment:first-child {
    margin-right: 10%;
}
.box .comments .block .slide_comment:after {
    display: block;
    content: '\f10e';
    font-family: 'FontAwesome';
    float: right;
    color: #777;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.box .comments .block .slide_comment img{
    height: 70px;
    float: left;
    margin-right: 10px;
}
.box .comments .block .slide_comment p{
    margin-bottom: 10px;
}
.box .comments .block .slide_comment .author {
    display: table;
    margin: 0 auto;
}
.box .comments .block .slide_comment .author .name {
    margin-right: 10px;
}
/*==========================================================================*/
.box .skills{
    width: 40%;
    float: right;
}
.box .skills li .percent {
    float: left;
}
.box .skills li .line {
    background-color: #777;
    width: 90%;
    height: 10px;
    float: left;
}
.box .skills li .line .color-line {
    height: 100%;
    background-color: red;
    display: inline-block;
    float: left;
}
/*==========================================================================*/
.projects {
    position: relative;
    margin-bottom: 50px;
}
.projects .note {
    position: absolute;
}
.projects .filterbtn {
    display: table;
    margin: 0 auto;
}
.projects .filterbtn li {
    float: left; 
}
.projects .filterbox {
    margin-bottom: 20px;
}
.projects .filterbox li {
    float: left;
    width: 30%;
    margin-right: 5%;
}
.projects .filterbox li:nth-child(3n){
    margin-right: 0;
}
.projects .filterbox li img {
    max-width: 100%;
}
.projects input {
    background-color: red;
    display: table;
    margin: 0 auto;
    color: #fff;
    border: 0;
    padding: 10px;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
}
/*==========================================================================*/
.team {
    background: url('../images/bg15.jpg') no-repeat;
    margin-bottom: 50px;
    padding: 100px 0;
    background-size: cover;
}
.team .team-img li {
    float: left;
    width: 24%;
    margin-right: 1.33%;
}
.team .team-img li:last-child {
    margin-right: 0;
}
.team .team-img li img {
    max-width: 100%;
}
/*==========================================================================*/
.services .service-box li {
    float: left;
    width: 25%;
    text-align: center;
    margin: 100px 0;
    position: relative;
}
.services .service-box i.fa-icon:before {
    content: '\f06c';
    margin: 0 auto;
    font-family: 'FontAwesome';
    display: table; 
    color: #f00;
    position: relative;
    border: 2px solid red;
    padding: 10px;
    border-radius: 50%;
    width: 103px; 
    width: inherit;
}
.services .service-box h3 {
    margin: 0 0 10px;
    padding: 0 15px 10px;
    text-align: center;
    font-size: 23px;
    color: #777;
    font-weight: 800;
    text-transform: uppercase;
}
.services .service-box p {
    padding: 0 15px;
}
.services .service-box input {
    color: #e7512f;
    display: table;
    margin: 30px auto 0;
    background: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
}
/*==========================================================================*/
.pricing {
    background: url('../images/block-bg-3.jpg') no-repeat;
    margin-bottom: 50px;
    padding: 10px 0;
    background-size: cover;
}
.pricing p {
    font-size: 16px;
    text-align: center;
    margin: 0 100px 20px;
    line-height: 22px;
}
.pricing .wrap-box {
    width: 100%;
}
.pricing .wrap-box .pricing-table {
    float: left;
    border: 1px solid #fff;
    text-align: center;
    width: 280px;
    background: #fff;
}
/*==========================================================================*/
.pricing .wrap-box .bg-black {
    float: left;
    border: 1px solid #fff;
    text-align: center;
    width: 280px;
    background: #494949;
}
.bg-black .tablehead {
    background: url(../images/dots.png);
    background-color: #373737;
}
.bg-black .tablehead h3 {
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: -20px;
}
.bg-black i.fa {
    font-size: 26px;
    width: 90px;
    height: 84px;
    line-height: 45px; 
    margin-bottom: -48px;
    text-align: center;
    border-radius: 50%;
    background: #494949;
}
.bg-black .fa:before {
    display: inline-block;
    content: "\f013";
}
.bg-black li {
    padding: 10px 0;
    border-bottom: 1px #e4e4e4 solid;
    font-size: 14px;
    border-color: #585858;
    color: #949494; 
}
.bg-black .price span {
    font-weight: 400;
    font-size: 26px;
}
.bg-black .even {
    background: #373737;
}
.bg-black .tablefooter {
    border-color: #585858;
    color: #949494;
    padding: 35px 0;
    border-bottom: 0;
}
.bg-black .btn {
    border-radius: 5px;
    display: inline-block;
    padding: 0 11px;
    border: 1px solid transparent;
    background-color: #e7512f;
    line-height: 30px;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    text-transform: uppercase;
    letter-spacing: .8px;
}
/*==========================================================================*/
.pricing-table .tablehead {
     background: url(../images/dots.png);
     background-color: #373737;
}
.pricing-table .tablehead h3 {
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
}
.pricing-table i.fa {
    font-size: 26px;
    width: 90px;
    height: 84px;
    line-height: 45px; 
    margin-bottom: -48px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
}
.pricing-table .fa:before {
    display: inline-block;
    content: "\f013";
}
.pricing-table li {
    padding: 10px 0;
    border-bottom: 1px #e4e4e4 solid;
    font-size: 14px;
}
.pricing-table .price span {
    font-weight: 400;
    font-size: 26px;
}
.pricing-table .even {
    background: #f3f3f3;
}
.pricing-table .tablefooter {
    padding-top: 20px;
    border-bottom: 0;
}
.pricing-table .btn {
    border-radius: 5px;
    display: inline-block;
    padding: 0 11px;
    border: 1px solid transparent;
    background: #777;
    line-height: 30px;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    text-transform: uppercase;
    letter-spacing: .8px;
}
/*==========================================================================*/
.get-in {
    background-image: url('../images/bg5.jpg');
    padding: 100px 0;
}
.get-in .form-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.user-signin {
    width: 50%;
}
.user-signin .form-input {
    overflow: hidden;
    margin: 0 0 20px;
    width: 100%;
}
.user-signin .form-input label {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0 0 5px;
    width: 100%;
}
.user-signin .form-input label span {
    display: inline-block;
    color: red;
}
.user-signin .form-input input,textarea {
    display: inline-block;
    padding: 12px 15px;
    border: 1px solid #DFDFDF;
    background: #fff;
}
.user-signin .form-input .btn {
    border-radius: 3px;
    text-transform: uppercase;
    background: #777;
    color: #fff;
}
.user-signin .form-input input[type=submit] {
    background-color: #e7512f;
}
/*==========================================================================*/
footer {
    background: #222;

}
.footerhead {
    padding-top: 100px;
}
.footer-menu {
    width: 25%;
    float: left;
    margin-bottom: 50px;
}
.footer-menu .foottitle {
    display: table;
    color: #c5c5c5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid #888;
}
.footer-menu a {
    display: inline-block;
    padding: 7px 0;
    color: #9E9E9E;
    font-size: 11px;
}
.footer-menu .tag {
    display: inline-table;
    margin: 2px;
    padding: 8px 6px;
    background: #2C2C2C;
    color: #C4C4C4;
    font-size: 11px;
}
/*==========================================================================*/
.middleborder {
    clear: both;
    margin: 50px 15px;
    border-bottom: 1px solid #888;
}
.logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    height: 40px;
    margin: 0 auto 5px;
    text-align: center;
}
.footer-menu p {
    font-size: 11px;
}






















