<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<div class='backgroundCartBody'></div>

<nav class="top-nav">
    <% include ../partials/topNavigation%>
</nav> 
<main class="page-width">
    <%- body %>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>