<% layout("layouts/help") %>

<ul>
    <h4>Where is my order / I want to speak to someone about my order</h4>
    <li>
        <p>We will have been working on your order and you should have received emails with regular updates.
            Your order confirmation email contains a link which shows you the progress of your order. From here you can also get help relating directly to your order.
            Alternatively if you have an account, you can view your order history and follow the "Track & Help" link from there.
            If you need any further help please refer to the sections left.
        </p>
    </li>
</ul>