<div class="top-nav-wrap page-width">
    <ul>
        <li><a href="#">Computers</a></li>
        <li><a href="#">Cooking</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Fiction</a></li>
        <li><a href="#">Health</a></li>
        <li><a href="#">Mathematics</a></li>
        <li><a href="#">Medical</a></li>
        <li><a href="#">Reference</a></li>
        <li><a href="#">Science</a></li>
    </ul>
</div>
